html {display: flex;
    justify-content:left;
    justify-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    }
    .logo {font-size: large;
            font-weight: 600;
            padding-left: 0px;
            justify-content:flex-start;
            margin: 20px;
            align-content: space-between;


    }
    header{
        background-color: gray;
        display: flex;
        justify-content: center;  
        font-weight:200; 
        color: black; 
          }
        .nav{
            color:red;
        }
        main{justify-content: center;
            margin: 0;}
    .welcomeMessage {
        display: grid;
        background-color:white;
        background-image:url
    }
    .Exams {
        display: flex;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
        font-weight: 200;
        background-color: red;
        font-style: normal;
        
        gap: 20px;
    }
    footer {
            display:flex;
            gap: 10px;
            justify-content:center ;
            justify-items: center;
            background: palevioletred;


    }

    a{text-decoration: none;}
    .Name {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: xx-large;
            font-weight: 800;
            font-style: normal;
            gap:inherit;
            margin: 2%;
        
        }

.line1 {display: flex;
            justify-content: center;
            background-color:fuchsia;
            color: blue;
            
            
        }
        .pages {display: flex;
            background-color: blanchedalmond;
            justify-items: center;
            justify-content: center;
            border: 250px;
            padding: 2%;
        }
        .sports {
            background-color: yellowgreen;
            font-family: 'Times New Roman', Times, serif;
            margin: auto;
            justify-items: center;
            justify-content: center;
            display:grid;
            padding: 10%;
            font:200;
            font-size: large;
            background: url(images/IMG-20220901-WA0132.jpg);
            background-size:100%
        }
        .message {
            display: grid;
            background: url(images/hallimage.jpg);
            justify-content:center;
            justify-items:center;
            padding: 20%;
            font-size: large;
            align-content: space-between;
        }
        button {background-color: blueviolet; 
            border-radius: 28ex;
            font-size: large;
            
        }
        .labs {
                    display: grid;
                    background: url(images/IMG-20220901-WA0147.jpg);
                    justify-content: center;
                    padding: 20%;
        }
    .contact {display: grid;}
            